body{
    background-color: antiquewhite;
}
header{
    margin: 0px;
    padding: 0px;
    height: 20em;
    position: relative;
    /* background-color: #C0C0C0; */
  }
  .contact{
    margin-bottom: 50px;
  }
  .info{
    background-color: rgba(155, 77, 77, 0.575);
    text-align: center;
    margin-top: 10px;
    margin: 0;
    padding: 20px;
    width: 25%;
  }
  .info h1{
    margin: 0;
  }